@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@200&family=Moon+Dance&family=Poppins&display=swap');

/* color : #f8b23d */


* {
    font-family: Inter;
    
    /* margin: 0 auto;
    background-color: #251d0f; */
}

body {
    background: black;

}

.header {
    min-width: 100vw;
    background: #251d0f;
    opacity: 0.75;
    top: 0;
}

.header a {
    text-decoration: none !important;
    font-size: small;
    color: #ffff;
    font-weight: bold;
}

#main {
    background-image: url('./images/main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    margin-top: -6rem;
}


#main .jumbotron h1{
    position: relative;
    top: 20rem;
    font-weight: bolder;
    font-size: 4rem;
    color: #ffff;
}
#main .jumbotron p{
    position: relative;
    top: 20rem;
    margin-top: 20px;
    color: #ffff;
    font-weight: bold;
}
#main .jumbotron button{
    position: relative;
    top: 20rem;
    margin-top: 20px;
    background-color: #f8b23d ;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    color: black;
    font-weight: bold;
}

#game {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/the-games-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffff;
    font-weight: bold;

}

#game .games {
    position: relative;
    top: 15rem;
}

#game .games h1 {
    font-size: 4rem;
}


#features {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/features.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#features .kanan {
    position: relative;
    left: 50em;
    top: 15rem;
    color: #ffff;
    font-weight: bold;
}
#features .kanan h1 {
    font-size: 4rem;
}
#features .kanan h3 {
    margin-top: 5rem;
    color: #f8b23d  ;
}


#system {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/requirements.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffff;
}

#system .title {
    padding: 0 5rem;
    padding-top: 3rem;
}

#system .require {
    padding: 0 5rem;
}
#system .require .ext {
    margin-top: 2rem;
    padding: 1rem;
}
#system .require .ext .bord {
    border: 1px solid #272829;
    padding: 1rem;
    
}

#system h3{
    color: #f8b23d;
}


#score {
    background-image: url(./images/top-score-bg.png);
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffff;
}

#score .text {
    padding: 18rem 3rem;
}

#score .text button {
    background-color: #f8b23d ;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
}

#score .score {
    position: relative;
    left: 20rem;
    top: 5rem;
}

#score .testi {
    background-color: #1a1c1d;
    width: 30rem;
    border-radius: 10px;
    padding: 1rem;
}
#score .logo{
    background-color: #f8b23d;
    border-radius: 50%;
}
#score .twt {
    margin-left: 5rem;
}

#score .testi .abu{
    color: #8d8e8f;
}

#score .kiri {
    position: relative;
    right: 12rem;
}

